body
{
    width: 960px;
    margin: 0 auto;
    padding: 0 0;
    background-image: linear-gradient(ivory, white);
}

.wrapper > *
{
    margin: 5px 1% 1% 1% ;
    text-align: center;
}

.text-block
{
    border: 1px solid;
    margin-top: 5px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.logo
{
    border: 3px dashed;
    width: 24%;
    float: right;
    margin-right: 10%;
}

#block-1, #block-7
{
    background-color: rgb(198, 217, 241);
    text-align: left;
}

#wrapper
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.menu-list
{
    text-align: left;
    font-size: 20px;
}

#col-1
{
    display: grid;
    grid-template-rows: min-content auto;
}
#col-2
{
    display: grid;
    grid-template-rows: auto  min-content ;
}


#block-2, #block-6
{
    background-color: rgb(234, 241, 221);
}

#block-4, #block-5
{
    background-color: rgb(253, 233, 217);
}

#block-3
{
    background-color: whitesmoke;
}
